div.pr-container{
    // color: white;
    text-align: left;
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 200;
    padding-top: 17.5rem;
    // padding-bottom: 17rem;
    a{
        color: black;
        font-weight: 500;
        text-decoration: none;
    }
    h1{
        font-size: 57.8px;
        font-weight: 500;
        margin-bottom: 72px;
        color: var(--black-font-main);
    }
    h2{
        font-size: 42.4px;
        font-weight: 500;
        margin-top: 100.5px;
        margin-bottom: 17px;
        letter-spacing: .9px;
        color: var(--black-font-main);
    }
    h3{
        font-size: 27px;
    font-weight: 500;
    color: var(--black-font-main);
    margin-bottom: 20px;
    margin-top: 56px;
    }
    p{
        font-size: 15.5px;
        font-weight: 400;
        line-height: 1.7;
        margin-bottom: 26px;
        margin-right: 16px;
        letter-spacing: .3px;
        color: var(--black-font);
    }
    ul{
        margin-left: 24px;
    list-style: none;
        li{
            font-size: 15.5px;
            font-weight: 400;
            line-height: 1.7;
            letter-spacing: .3px;
            color: var(--black-font);
            span{
                margin-left: -10px;
            }
        }
    }

}
@media (max-width: 768px) {
    div.pr-container{
       
        width: 82%;
        h1,h2{
            line-height: 1.3;
        }
        h1{
            font-size: 45.5px;
        }
        h2{
            font-size: 40px;
        }
    }
}