.mobile-b {
  margin-bottom: 0;
  padding: 0;

  .btn-mouse-area {
    padding: 0 !important;
    margin: 0 !important;

    .btn-more {
      span {
        letter-spacing: 0.018rem !important;
      }
    }
  }

}
