section.head {
  position: static;
  margin-top:0;
  margin:0;
  // margin-bottom: 90vh;
  div.backg {
    // background-image: url(/static/media/slide-1.170126e5.png);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: 1690px 950px;
    background-position: bottom center;
    // opacity: .4;
    video {
      position: absolute;
      right: 50%;
      transform: translate(50%, 0px);
      bottom: 1px;
      height: 100%;
      width: 177.77777778vh;
      min-width: 100%;
      min-height: 56.25vw;
    }
  }
  .h1 {
    height: 100vh;
    width: 100%;
    // left: 50%;
    position: relative;
    // transform: translateX(-50%);
    z-index: 100;
  }
  .h2-wrapper{
    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    .h2-con{
      margin-top:90px;
    }
  }
  div.darkLay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    // background: black;
    // opacity: .6;
    z-index:5;
    background: radial-gradient(
      50% 42.9% at 50% 42.91%,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.549) 100%
    );
  }
  div.darkLay2 {
    background: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 10;
  }
  // .h2 h6, 
  // .h2 h3,
  // .btn-container{
  //   opacity: 0;
  // }
}
