.thanks-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  z-index: 100;

  h2 {
    font-size: 110px;
    font-weight: 600;
    color: var(--primary-font-color);
    margin-bottom: 50px;
  }

  p {
    font-size: 30px;
    color: var(--secondary-font-color);
  }
}