.thanks-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  cursor: none;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-l);
  z-index: 100;
  padding-bottom: 1rem;

  h2 {
    font-size: 2.7rem;
    font-weight: 500;
    margin-bottom: .3rem;
    color: var(--black-font-main);
  }

  p {
    width: 100%;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 400;
    padding: 0 20%;
    color: var(--black-font-main);
  }
}

@media ( max-width: 768px ) {

  .thanks-container {
    cursor: default;
  
    h2 {
      font-size: 2.7rem;
      margin-bottom: 0.5rem;
      padding-top: 1.7rem;
    }
  
    p {
      font-size: 1.1rem;
      padding-bottom: 5rem;
    }
    .checkcontain{
      background: dodgerblue;
      width: 3.3rem;
      height: 3.3rem;
      position: relative;
      border-radius: 50%;
      svg{
        width: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        path{
          fill:white;
        }
    
      }
    }
    .backbtn{
      background: black;
      max-width: 500px;
      width: 87%;
      padding: 16px 0;
      border-radius: 30px;
      position: absolute;
      bottom: 6.6rem;
    }
  }

}

@media ( max-width: 450px ) {

  .thanks-container {
  
    h2 {
      font-size: 3.5rem;
    }
  
    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
      padding: 0;
    }
    .checkcontain{
      width: 3.9rem;
    height: 3.9rem;
    }
  }

}