// div#viewport {
//   background: url('./assets/img/contact.jpg') no-repeat;
// }

// div.backLayer {
//   display: none;
// }

.contact-page {
  // padding-top: 25vh;
  width: 100%;
  overflow: hidden;
}

section.sec-form {

  header {
    color: var(--black-font-main);
    padding-bottom: 4.5rem;
    padding-top: 10rem;

    h6 {
      display: flex;
      align-items: center;
      text-align: left;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: -0.8px;
      word-spacing: 2px;

      img {
        height: 1.875;
        margin-left: 0.5rem;
      }
    }

    h1 {
      font-size: 3.9rem;
      text-align: left;
      font-weight: 500;
    }
  }

  form { 

    >.btn-container {
      margin-top: 50px;
      margin-bottom: 50px;

      button.btn-more {
        background-color: var(--blue-cta);
        padding: 1.25rem 0 1.25rem;
        width: 11.25rem;
        justify-content: center;

        .btn-more-title {

          span {
            color: var(--primary-font-color) !important;
            font-weight: 500;
            font-size: 1.1rem;
            letter-spacing: 0;
          }
        }
      }

    }

  }
}

.grecaptcha-badge { 
  visibility: hidden;
  opacity: 0;
}

#g-recaptcha-response {
  visibility: hidden;
  opacity: 0;
}

.google-captcha {
  display: block !important;
  width: 100%;
  text-align: left;
  color: var(--secondary-font-color);
  font-size: 0.8rem;
  margin-left: 5px;
  margin-bottom: 6rem;

  span {
    line-height: 0.5rem;
  }

  a {
    color: var(--gray-dark);
    font-size: 0.8rem;
    margin-left: 20px;
    display: inline-block;

  }
}

.contact-page .con-foot .footer-foot {
  .footer-secs.l {
    h5 {
      width: max-content;
      
      &::after {
        width: 100%;
      }
    }
  }
}

@media ( min-width: 768px ) {
  button.btn-more:not(.active, .invalid) .btn-more-title span:after {
    // color: #fff !important;
  }
}

@media ( max-width: 769px ) {
  .contact-page {

    section.sec-form.mb {
      form{

        margin-bottom: 0;
      }
      h6{
        padding-top: 0;
      }
      
    }

    section.footer-sec.fot {
      margin-left: 0;

      .trig .footer-foot {
        height: 50%;
        
        .footer-secs.l h5 {
          width: max-content;
          margin: 0 auto;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

@media ( max-width: 500px ) {
  .contact-page section.contact-footer.fot {
    margin-left: 0;

    .trig {

      .footer-foot {
        height: auto !important;
        .footer-secs.l {
          padding-top: 3rem;
          margin-bottom: 6rem;

          h5 {
            width: max-content;
            margin: 0 auto;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}