section.pro-sec {
    // margin-top: 78px;
    // height: 58vh;
    // display: flex;
    // align-items: flex-end;
    // justify-content: center;
    height: 101vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      margin-bottom: -11.9%;
  
    main {
      margin-bottom: 100px;
      position: absolute;
      div.darklayer{
        position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      z-index: 21;
      opacity: 0;
      visibility: hidden;
      }
  
      h1 {
        // font-size: 55px;
        font-size: 1.86rem;
        letter-spacing: 0.56px;
        font-weight: 500;
        margin-bottom: 50px;
        z-index: 20;
        color: var(--black-font-main);
        position: relative;
      }
  
      div.fil-contain {
        position: relative;
  
        .little-fade {
          display: none;
          position: fixed;
          top: 0;
          height: 100%;
          // width: 4.8%;
          z-index: 10;
        pointer-events: none;
  
  
          &.left-fade {
            width: 3%;
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.769) 25.1%, rgba(0, 0, 0, 0) 100%);
            left: 0;
          }
  
          &.right-fade {
            width: 23%;
            background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.769) 25.1%, rgba(0, 0, 0, 0) 100%);
            right: -1px;
          }
  
        }
  
        .lines {
  
          .extra-space {
            display: none;
          }
        }
  
        a.btn {
          display: inline-block;
          padding-bottom: 0;
          margin-bottom: 0;
          .btn-mouse-area {
            padding: 5px;
          }
        }
  
        a.btn.sec-btn {
          letter-spacing: 0.27px;
          font-size: 15px;
          font-weight: 400;
          padding: 16.5px 22.7px 16.4px;
          border-radius: 32px;
          background: none;
          font-family: "Poppins";
          position: relative;
          border: 1.7px solid #6e6e73;
          color: white;
          margin: 8px 7.7px;
          pointer-events: all;
          &.act {
            color: black;
            background: #f5f5f7;
            border-color: #f5f5f7;
            font-weight: 500;
            letter-spacing: 0.1px;
          }
  
          .btn-more-title {
            overflow: hidden;
            span {
              position: relative;
              &:after {
                content: attr(data-text);
                display: block;
                position: absolute;
                top: 150%;
                left: 0;
                transform: skewY(3deg);
              }
            }
          }
          .btn-more-ripple {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            // -webkit-transform: translateZ(0);
            // -moz-transform: translateZ(0);
            // transform: translateZ(0);
            -webkit-border-radius: inherit;
            -moz-border-radius: inherit;
            border-radius: inherit;
            span {
              display: block;
              width: 100%;
              height: 100%;
              // -moz-transform: translateY(100%);
              // -ms-transform: translateY(100%);
              // -o-transform: translateY(100%);
              // transform: translateY(100%);
              opacity: 0;
              background: white;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  
  div.pro-cont {
    // padding-bottom: 0px;
    padding-bottom: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: calc(-45vh - 125px);
    padding-top: 270px;
    justify-content: space-around;
    align-content: center;
    overflow: hidden !important;
    height: fit-content;
    align-items: flex-start;
    flex-direction: row;
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    .outerPro {
      width: 75%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: -200px;
      padding-bottom: 0;
    }
  
    .project {
      // flex: 50%;
      // margin: 0px auto 45px;
      width: 50%;
      margin: 0px 0 45px;
      z-index: 10;
      &.anivi{
        height: 120vw;
      }
      &:last-child{
        // margin-bottom: 300px;
      }
      &.vr-project {
        width: 95%;
        height: 34vw;
        margin: 0 auto 50px;
        &.Animation, &.Concept{
          width: 45%;
          position: relative;
        }
        .ani-names{
          color: white;
      text-align: center;
      padding: 20px;
      h5{
        font-size: 1.2rem;
      letter-spacing: 0.04rem;
      line-height: 1.8rem;
      }
        }
      }
  
      .vr-item {
        width: 100%;
        border-radius: 50px;
        display: block;
        z-index: 50;
        height: 100%;
        border: 0px;
        position: relative;
  
  
        // margin: 80px auto 140px;
        // display: block;
        // height: 80vh;
        // border-radius: 50px;
        // width: 90%;
        // padding-bottom: 90%;
        // color: white;
        // margin: 0 auto;
        // text-align: center;
        // background-size: cover;
        // background-position: center;
      }
  
      .pro-item {
        display: block;
        width: 90%;
        padding-bottom: 90%;
        color: white;
        border-radius: 50px;
        cursor: none;
        margin: 0 auto;
        text-align: center;
        background-size: cover;
        background-position: center;
      }
    }
  }
  
  main#viewport.single-pj {
    background: #ffffff;
    height: 100%;
    text-align: center;
    width: 100vw;
    position: relative;
    .single-pr-co {
      height: 98vh;
      margin-top: -105px;
      &:first-child{
        margin-top: 0;
      }
    }
    img {
      // height: 80vh;
      margin: auto;
      display: block;
      position: relative;
      // top: 50%;
      // border-radius: 50px;
      // left: 50%;
      // transform: translate(0%, -50%);
    }
  
    // div.pj-footer {
    //   position: fixed;
    //   bottom: 0;
    //   height: 64px;
    //   width: 100vw;
    //   color: white;
    //   span {
    //     position: absolute;
    //     top: 50%;
    //     font-size: 12px;
    //     transform: translate(-50%, -50%);
    //   }
    // }
  }
  // .mt2{
  //   margin-top: -8%!important;
  // 
  .ani-cover{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("https://img.youtube.com/vi/34hD4u8WFuI/maxresdefault.jpg");
    z-index: 55;
    background-size: cover;
    border-radius: 50px;
    top:0;
    pointer-events: none;
    background-position: center;
  }
  @media (max-width: 768px){
    main.projects-page{
      .fade{
        padding-bottom: 165%;
      }
      .tb-contain{
        margin:15vh auto;
        p{
          font-size: 24.8px;
          line-height: 1.65;
        }
  
      }
      .double-contain{
        h2{
          font-size: 34px;
          line-height: 1.3;
          bottom: 0;
          width: 358px;
          padding-top: 15px;
        }
       .flex-contain{
         height: 45vh;
         .cover-contain{
           width: 42.16vw;
           margin: 0 12px;
         }
         .cover-contain:first-child{
            align-self: flex-start;
            margin-left: 0;
         }
         .cover-contain:last-child{
           align-self: flex-end;
           margin-right: 0;
         }
  
       }
       .normal{
         .flex-contain .cover-contain:last-child{
           align-self: flex-start;
         }
       }
      }
    }
  }
  @media (max-width: 450px) {
    main.projects-page .fade{
      padding-bottom: 155%;
    }
  }